body {
    overflow: visible !important;
}

.login-main-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .login-main-container {
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-direction: row; */
    }

    .login-user-container {
        margin: 3rem auto;
    }
}

.login-user-container {
    text-align: center;
    margin-bottom: 3rem;
}

.login-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.login-button {
    border: 2px solid var(--red) !important;
    border-radius: 5px;
    margin-top: 10px !important;
}