.sort-by-container {
    margin: 3rem auto;
    display: flex;
    align-items: center;
}

.sort-by-label {
    color: var(--white) !important;
}

.sort-by-inputs {
    min-width: 110px;
    width: auto;
    height: 50px;
    margin-right: 10px;
}

.testing {
    border-color: red !important;
}